* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #adb0fb;
  min-width: 100vw;
  min-height: 100vh;
  padding: 2rem;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 30rem;
  margin: 0 auto;
  background-color: #f1effa;
  padding: 3rem;
}
.display-todo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  justify-content: space-between;
}
input[type="text"] {
  width: 20rem;
  height: 3rem;
}
.btn {
  width: 5rem;
  height: 3rem;
  border: none;
  background-color: #ae8d48;
  border-radius: 2px;
  padding: 0.23rem;
  font-size: 12px;
}
.text {
  text-transform: capitalize;
}

.edit-and-delete {
  width: 4rem;
  display: flex;
  justify-content: space-between;
}
.info {
  display: flex;
}
input[type="checkbox"] {
  width: 1rem;
}
